.fb_dialog
{
    right:auto !important;
    left:10pt !important;
    bottom:68pt !important;

}
.fb_customer_chat_bounce_in_v2
{
    right:auto !important;
    left:1pt !important;
    bottom:88pt !important;
}
.highlightPopUp
{
    background-color:rgba(105, 187, 123,.9) !important;
    color:white;
    font-weight: bolder;
    padding:5px !important;

}
.product_detail_img{
    height: auto !important;
}